h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.bc-home { 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.naan-home {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lassi-home {
    font-family: Georgia, 'Times New Roman', Times, serif;
}